
/server/projekt
/MenhelyMagus Kezelo/.vs/MenhelyMagus Kezelo/FileContentIndex
/MenhelyMagus Kezelo/MenhelyMagus Kezelo/obj/Debug
/MenhelyMagus Kezelo/MenhelyMagus Kezelo/obj/Debug
MenhelyMagus Kezelo.exe
/MenhelyMagus Kezelo/MenhelyMagus Kezelo/bin
/MenhelyMagus Kezelo/MenhelyMagus Kezelo/obj
